.single-product .breadcrumb ul{

    display: flex;
}




.single-product .breadcrumb li{
    font-size: 1.3rem;
    ;
}


.single-product .breadcrumb li:not(:last-child):after{
    content: "/";
    color: #dee0ea;
    margin: 0 0.5rem
}



.single-product .breadcrumb li a:hover{
    color: black;
    text-decoration: underline;
}
